/*css reset + root*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(135deg, #84e, #b07dfb);
  --spacing: 1.875rem;
  --font: "Volkhov";
  font: 100%/1.25 var(--font);
}

body {
  container: structure / inline-size;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%; /*use wisely, choose instead max-width:100%*/
  display: block;
  border-radius: 5px;
}

/*grid structure*/
.grid-structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidebar content ads"
    "footer footer footer";
}

@container structure (max-width: 1200px) {
  .grid-structure {
    grid-template-areas:
      "header header header"
      "sidebar content content"
      "sidebar ads ads"
      "footer footer footer";
  }
}

@container structure (max-width: 760px) {
  .grid-structure {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "ads"
      "footer";
  }
}

/*header */
.header {
  grid-area: header;
  background: var(--gradient);
  padding: var(--spacing);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header__logo {
  max-width: 200px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.header__menu-item {
  display: block;
  font-size: 1.125rem;
  padding: 0.56em;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 1s;
}

.header__menu-item:hover {
  background: rgba(0, 0, 0, 0.5);
}

@container structure (max-width: 760px) {
  .header {
    grid-template-columns: auto;
    gap: calc(var(--spacing) / 2);
  }
  .header__menu {
    gap: calc(var(--spacing) / 3);
  }
  .header__menu-item {
    font-size: 1rem;
  }
}

/*sidebar*/
.sidebar {
  grid-area: sidebar;
  background: #fafbfc;
  padding: var(--spacing);
}

.sidebar > * + * {
  margin-top: var(--spacing);
}

.sidebar__item {
  display: block;
  background: #fff;
  min-width: 100px;
  max-width: 120px;
  margin: 0 auto;
  padding: 1.125em;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidebar__item:hover {
  background: #b07dfb;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@container structure (max-width: 760px) {
  .sidebar-area {
    overflow-x: auto;
    position: relative;
  }
  .sidebar-area::before {
    content: "→";
    position: absolute;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  .sidebar {
    display: flex;
    gap: var(--spacing);
  }
  .sidebar > * {
    flex: 1 0 100px;
    margin-top: 0;
  }
}

/*content*/
.content {
  grid-area: content;
  max-width: 900px;
  margin-inline: auto;
  padding: var(--spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing);
}

.content__title-area {
  color: #b07dfb;
}

.content__title {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.content__subtitle {
  font-size: 0.875rem;
  font-style: italic;
}

.content__characteristics {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}

.content__characteristic {
  flex-basis: 80px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content__characteristic .number {
  border-radius: 5px 5px 0 0;
  background: var(--gradient);
  color: #b07dfb;
  font-size: 3rem;
  line-height: 1;
  padding: 0.25em;
}

.content__characteristic .label {
  background: #fff;
  color: #b07dfb;
  padding: 0.25em;
  border-radius: 0 0 5px 5px;
}

.content__text--grid {
  grid-column: 1/-1;
}

.content__img-area:has([alt="Wolf 1"]) {
  grid-row: span 2;
  align-self: end;
}

.content__text-area > * + * {
  margin-top: var(--spacing);
}

.content__text {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.content__text--purple {
  color: #b07dfb;
}

.content__text--sm {
  font-size: 0.875rem;
  max-width: 30ch;
}

.content__quote-area,
.content__list {
  background: var(--gradient);
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  border-radius: 5px;
  padding: var(--spacing);
}

.content__quote-area {
  grid-column: 1/-1;
}

.content__quote {
  font-size: 1.5rem;
  color: #fff;
  font-style: italic;
  max-width: 30ch;
  margin-inline: auto;
  text-align: center;
}

.content__list {
  grid-column: 1;
  align-self: start;
}

.content__list > * + * {
  margin-top: var(--spacing);
  position: relative;
}

.content__list > * + *::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #b07dfb;
  position: absolute;
  top: -15px;
}

.content__item {
  font-family: Courier, monospace;
  font-size: 1.125rem;
  color: #fff;
}

.content__img-area:has([alt="Wolf 3"]) {
  grid-column: 1/-1;
}

@container structure (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
}

/*ads*/
.ads {
  grid-area: ads;
  background: #fafbfc;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-content: start;
  gap: var(--spacing);
  padding: var(--spacing);
}

/*footer*/
.footer {
  grid-area: footer;
  background: var(--gradient);
}

.footer__text {
  color: #fff;
  padding: var(--spacing);
  text-align: center;
}
