/*css reset + root*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(135deg, #84e, #b07dfb);
  --spacing: 1.875rem;
  --font: "Volkhov";
  font: 100%/1.25 var(--font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

/*grid structure*/
.grid-structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidebar content ads"
    "footer footer footer";
}

/*header */
.header {
  grid-area: header;
  background: var(--gradient);
  padding: var(--spacing);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header__logo {
  max-width: 200px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.header__menu-item {
  display: block;
  font-size: 1.125rem;
  padding: 0.56em;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 1s;
}

.header__menu-item:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*sidebar*/
.sidebar {
  grid-area: sidebar;
  background: #fafbfc;
  padding: var(--spacing);
}

.sidebar > * + * {
  margin-top: var(--spacing);
}

.sidebar__item {
  display: block;
  background: #fff;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto;
  padding: 1.125rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidebar__item:hover {
  background: #b07dfb;
}

.content {
  grid-area: content;
}

/*ads*/
.ads {
  grid-area: ads;
  background: #fafbfc;
  display: grid;
  align-content: start;
  gap: var(--spacing);
  padding: var(--spacing);
}

/*footer*/
.footer {
  grid-area: footer;
  background: var(--gradient);
}

.footer__text {
  color: #fff;
  padding: var(--spacing);
  text-align: center;
}
